@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
.items{
    width: 1180px;
    height: 280px;
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    margin: 64px 130px;
}
.item{
    width: 271px;
    height: 280px;
    gap: 32px;
}
.item img{
    width: 160px;
    height: 160px;
    border-radius: 160px;
}
.item h3{
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 20px;
    vertical-align: middle;
    color: #161543;
    margin: 20px 0 10px 0;
}
.item p{
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #7687A1;
}
