@media screen and (min-width: 769px) and (max-width: 1279px) {
    .items{
        width: 720px;
        height: 556px;
        margin: 48px 24px;
        flex-wrap: wrap;
        gap: 24px;
    }
    .item{
        width: 348px;
        height: 258px;
        margin-bottom: 20px;
    }
}
