@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
.boxes{
    width: 1180px;
    height: 772px;
    gap: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 auto;
    padding: 64px 0 ;
}
.box img{
    width: 372px;
    height: 279px;
    border-radius: 10px;
}
.box h3{
    width: 372px;
    height: 24px;
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 20px;
    text-align: center;
    vertical-align: middle;
    color: #000000;
    margin: 20px 0 15px 0;
}
.box p{
    width: 372px;
    height: 16px;
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 13px;
    line-height: 120%;
    letter-spacing: 1.5px;
    text-align: center;
    color: #3C3C43;
}
