*{
    margin: 0;
    padding: 0;
}
header{
    width: 100%;
    height: 113px;
    background: #24204A;
    box-shadow: 0 4px 4px 0 #00000040;
    position: fixed;
}
.w-1153{
    width: 1153px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}
.w-1153 h2{
    width: 71px;
    height: 24px;
    opacity: 0.6;
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 20px;
    color: #E5E5E5;
}
.w-1153 ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 64px;
    list-style-type: none;
}
.w-1153 ul a{
    text-decoration: none;
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 16px;
    opacity: 0.6;
    color: #FFFFFF;
}
.one-posotion{
    width: 100%;
    height: 692px;
    background: #24204A;
    box-sizing: border-box;
    padding: 180px 0 101px 0;
}
.one-1153 {
    width: 1153px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}
.one-1153 div:nth-child(1){
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 32px;
}
.posotion{
    width: 145px;
    height: 41px;
    border-radius: 8px;
    color: #8E88C1;
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 16px;
    background: #4B4864;
    border: none;
}
.one-1153 h1{
    width: 261px;
    height: 88px;
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 36px;
    color: #FFFFFF;
}
.one-1153 p{
    width: 570px;
    height: 85px;
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #8E88C1;
}
.about{
    width: 200px;
    height: 56px;
    border-radius: 8px;
    background: #3F50E7;
    box-shadow: 0 6px 20px 0 #00FFE033;
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 16px;
    text-align: center;
    color: #FFFFFF;
    border: none;
}
.one-1153 img{
    width: 318px;
    height: 318px;
}
.one-1153 div:nth-child(2){
    display: flex;
    justify-content: center;
    align-items: center;
    width: 375px;
    height: 411px;
    border-radius: 8px;
    background: #827EAC;
    box-shadow: 0 4px 50px 0 #00000040;
}
.lorem-ipsum{
    width: 100%;
    height: 764px;
    background: #071341;
    padding: 50px 0 152px 0;
    box-sizing: border-box;
}
.card_w-1153{
    width: 1153px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
}
.cards{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.card{
    width: 175px;
    height: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 18px;
}
.card div:nth-child(1){
    width: 56px;
    height: 56px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card:nth-child(1) div:nth-child(1){
    background: #FF6853;
}
.card:nth-child(2) div:nth-child(1){
    background: #FF537C;
}
.card:nth-child(3) div:nth-child(1) {
    background: #80D2C4;
}
.card:nth-child(4) div:nth-child(1) {
    background: #3F50E7;
}
.card:nth-child(5) div:nth-child(1) {
    background: #95CB7C;
}
.card div:nth-child(2) h3{
    width: 38px;
    height: 19px;
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 16px;
    color: #FFFFFF;
}
.card div:nth-child(2) p{
    width: 101px;
    height: 24px;
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #8E88C1;
    line-height: 24px;
}
.card_w-1153 h2{
    width: 1074px;
    height: 126px;
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    color: #FFFFFF;
    margin: 50px 0;
}
.card_w-1153>p{
    width: 545px;
    height: 24px;
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #8E88C1;
}
.sun-group{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
}
.sun-group div{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 209px;
    height: 206px;
    border-radius: 8px;
    border: 2px solid #8E88C1;
    gap: 32px;
}
iframe{
    width: 100%;
    height: 664px;
}
footer{
    width: 100%;
    height: 94px;
    background: #071341;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer p{
    width: 96px;
    height: 24px;
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 12px;
    line-height: 200%;
    color: #FFFFFF;
}
