@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
body{
    background-color: lightseagreen;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.form-registration{
    width: 40vw;
    height: 60vh;
    background-color: white;
    border-radius: 20px;
    margin-bottom: 70px;
}
.form-registration div:first-child{
    height: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(148, 216, 210, 0.25);
}
.form-registration div h3{
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-size: 30px;
}
.form-registration form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.form-registration>form>input{
    width: 420px;
    height: 35px;
    margin: 20px;
}
div.form-registration>form>div{
    width: 420px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    font-family: "Raleway", sans-serif;
}
input[type=submit]{
    border-radius: 8px;
    border: 1px solid gray;
    width: 90px;
    height: 25px;
    background-color: rgba(148, 216, 210, 0.25);
}
