*{
    margin: 0;
    padding: 0;
}
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 132px;
}
.card{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 319px;
    height: 492px;
    border: 4px solid #554C4C;
    background: #D9D9D94D;
    position: relative;
}
.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    background-color: white;
    border: 4px solid #554C4C;
    border-radius: 50%;
    position: absolute;
    top: -50px;
}
.card h3{
    width: 119px;
    height: 48px;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 40px;
}
.card p{
    width: 211px;
    height: 72px;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 20px;
    text-align: center;
}
.green{
    border: 4px solid #65856E;
}
